@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-header {
  position: relative;
  min-height: 608px;
  padding: 25px 0;
  box-sizing: border-box;
  background-color: $dbl;
  background-image: url("../img/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  font-family: $font-playfair;
  background-color: $dbl;
}
////////////////////////////////
.main-nav {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  box-sizing: border-box;
  top: 0;
  background-color: $dbl;
  z-index: 1000;
}

.toggler {
  display: block;
  padding: 0;
  font-size: 0;
}

.toggler svg {
  width: 24px;
  height: 24px;
}

.main-nav__toggler {
  margin: 0 0 60px auto;
}

.nav-link {
  font-family: $font-raleway;
  font-size: 20px;
  line-height: 42px;
  color: $wht;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $org;
  }
}

.navbar-social a {
  color: $wht;

  &:hover,
  &:focus {
    color: $org;
  }
}

.navbar-social svg {
  width: 22px;
  height: 22px;
}
////////////////////////////////

.top-nav__logo {
  font-size: 0;
}

.top-nav__phone {
  display: none;
}

///////////////////////////////////
.banner {
  box-sizing: border-box;
  padding: 115px 0 20px;
}

.banner__title {
  font-size: 48px;
  line-height: 48px;
}

.banner__text {
  padding: 25px 0;
  font-family: $font-monts;
}

.banner__btn {
  padding: 15px 45px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
}

.banner__down {
  display: block;
  -transition-property: transform;
  transition-duration: 1.5s;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.banner__down svg {
  width: 58px;
  height: 14px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 50px 0;
    background-image: url("../img/bg-tablet.jpg");
  }

  .main-nav {
    padding-top: 40px;
  }

  .navbar-nav .nav-link {
    padding: 29px 0;
    font-size: 35px;
    letter-spacing: 4px;
  }

  .main-nav__toggler {
    margin-bottom: 120px;
  }

  .main-nav__toggler svg {
    width: 42px;
    height: 42px;
  }

  .top-nav__toggler svg {
    width: 64px;
    height: 64px;
  }

  .navbar-social svg {
    width: 37px;
    height: 37px;
  }

  .banner {
    padding: 180px 0 85px;
  }

  .banner__title {
    font-size: 100px;
    line-height: 1;
    letter-spacing: 1px;
  }

  .banner__text {
    padding: 60px 0;
    font-size: 26px;
  }

  .banner__btn {
    margin-bottom: 100px;
    font-size: 30px;
    padding: 30px 60px;
    letter-spacing: 2px;
  }

  .banner__down svg {
    width: inherit;
    height: inherit;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 20px 0;
    background-position: center 85px;
    background-image: url("../img/bg-desktop.jpg");
    background-color: $bg-color;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba($dbl, .97);
      top: 0;
      left: 0;
      width: 50%;
      height: 751px;
    }
  }

  .top-nav {
    position: relative;
    z-index: 100;
  }

  .top-nav__toggler {
    margin-right: 0;
  }

  .main-nav {
    top: 85px;
    left: calc((100% - 1170px) / 2);
    width: 1170px;
    height: 600px;
    padding-top: 20px;
  }

  .main-nav__toggler {
    margin-bottom: 100px;
  }

  .navbar-nav .nav-link {
    padding: 9px 0;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .navbar-social {
    z-index: 100;
  }

  .navbar-social svg,
  .main-nav__toggler svg {
    width: 14px;
    height: 14px;
  }

  .top-nav__toggler svg {
    width: 26px;
    height: 26px;
  }

  .top-nav__logo {
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .top-nav__phone {
    display: inline-block;
    color: $dbl;
  }

  .top-nav__phone a {
    padding-right: 8px;

    &:hover,
    &:focus {
      text-decoration: none;
      transition: 0.3s ease;
    }
  }

  .top-nav__phone svg {
    fill: $lgr;
  }

  .top-nav__phone a:hover svg,
  .top-nav__phone a:focus svg {
    fill: $dbl;
  }

  .banner {
    position: relative;
    width: 50%;
    padding-top: 200px;
    padding-left: 90px;
    padding-bottom: 45px;
    z-index: 100;
    text-align: left;
  }

  .banner__title {
    font-size: 61px;
    letter-spacing: 2.5px;
  }

  .banner__text {
    padding: 23px 0 35px;
    font-size: 14px;
  }

  .banner__btn {
    position: relative;
    margin-bottom: 180px;
    padding: 16px 90px 16px 30px;
    font-size: 14px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 30px;
      width: 40px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../img/arrow-right.svg");
    }
  }

  .banner__down {
    display: none;
  }
}
