$font-raleway: Raleway, Arial, sans-serif;
$font-playfair: "Playfair Display", Arial, serif;
$font-monts: Montserrat, Arial, sans-serif;

$wht: #ffffff;
$org: #f8a25a;
$dbl: #112537;
$bg-color: #fdfaf3;
$lgr: #838383;
$dgr: #313131;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
